<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi realizada com sucesso!!!</p>
<p>Estamos muito felizes em tê-lo conosco!</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Valor total: </strong> {{ price }} <br />
  <br />
</p>
